body {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #1a1a1a;
  background-color: #599e4b;
}

/** HOME PAGE **/

#main-content {
  width: 92%;
  margin: 0 auto;
}

#main-content h2 {
  font-size: 2.9em;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 50px;
  display: inline-block;
  text-align: center;
}

#main-content h3 {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}

#main-section {
  background-color: #82d06b;
  box-shadow: 0 0 50px #0f5900;
  padding: 30px;
  display: inline-block;
}


/** END HOME PAGE **/
